body{
    background: url(./Capture\ rrrrr.PNG);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%100%;
}
.logo{
    color: black;
    font-size: 35px;
    float: left;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 5%;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: midnightblue;
}
nav ul li a:hover{
    color: rgb(253, 16, 16);
}
img{
width: 30px;
height: 30px;
border-radius: 50%;
cursor: pointer;
}
.info{
    margin: 30px;
    padding: 18px;
    color: rgb(255, 157, 1);
    font-size: 20px;
    font-family: sans-serif;
}
p{
    color: #fff;
}
button{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: 0;
    outline: 0;
    font-family: cursive;
    border-radius: 5px;
    transition: 0.2s;
}
button:hover{
    background-color: #fff;
    color: #000;
}

.qoraal{
    display: flex;
  }